In [7]:
import numpy as np
import pandas as pd

from fredapi import Fred
import os

In [8]:
fred = Fred(api_key=os.getenv("FRED_API_KEY"))

In [9]:
start = "1980-01-01"
end = "2024-01-01"

fred_series = {
    "gdp": "GDPC1",
    "unemployment": "UNRATE",
    "cpi": "CPIAUCSL",
    "fed_funds": "FEDFUNDS",
    "ten_year": "GS10",
    "three_month": "TB3MS",
}

data = pd.DataFrame()

for name, code in fred_series.items():
    data[name] = fred.get_series(code, start, end)

data.index = pd.to_datetime(data.index)

In [10]:
data["gdp_growth"] = np.log(data["gdp"]).diff()
data["yield_curve"] = data["ten_year"] - data["three_month"]

In [11]:
data = data[["gdp_growth", "unemployment", "cpi", "fed_funds", "yield_curve"]]
# drop first row due to diff()
data = data.dropna()

In [ ]:
data.to_csv("../data/cleaned_data.csv")

            gdp_growth  unemployment      cpi  fed_funds  yield_curve
1980-04-01   -0.020820           6.9   80.900      17.61        -1.73
1980-07-01   -0.001189           7.8   82.600       9.03         2.19
1980-10-01    0.018477           7.5   84.700      12.81         0.13
1981-01-01    0.019405           7.5   87.200      19.08        -2.45
1981-04-01   -0.007438           7.2   89.100      15.72        -0.01
...                ...           ...      ...        ...          ...
2023-01-01    0.007212           3.5  300.456       4.33        -1.01
2023-04-01    0.006259           3.4  302.858       4.83        -1.46
2023-07-01    0.011470           3.5  304.615       5.12        -1.35
2023-10-01    0.008405           3.9  307.653       5.33        -0.54
2024-01-01    0.002096           3.7  309.794       5.33        -1.16

[176 rows x 5 columns]